.content{
    color : white;
    background-color:rgb(38,38,38,0.46);
    padding-top : 40px;
    padding-bottom : 20px;

}

.desc{
    color : white;
    font-family: '나눔스퀘어';
    src : url('../common/NANUMSQUAREEB.TTF');

    position :relative;
    left : 2%;
    top : 50%;
    margin-left:55px;
   
    font-size : 18px;
    font-weight : bold;
}