.center{
    position : absolute;
    left : 20%;
    display : inline
}
.Selected{
    color : white;
    font-family: '나눔스퀘어';
    src : url('../common/NANUMSQUAREEB.TTF');

    background-color:#262626;
    opacity : 0.46;

    border : none;
    padding : 15px;
    
    font-size : 20px;
    font-weight : bold;
}
.UnSelected{
    color :#767171;
    font-family: '나눔스퀘어';
    src : url('../common/NANUMSQUAREEB.TTF');

    background-color : black;
    opacity : 0.46;

    border : none;
    padding: 15px;

    font-size : 20px;
    font-weight : bold;
}