.QuestionImg{
    border-radius: 15px 15px 15px 15px;
   
}

.NotFoundMsg{
    font-family : "nanumsquare";
    src : url(../components/common/NANUMSQUAREB.TTF);
    font-size : 50px;
    color : white;

    position : absolute;
    top : 40%;
    left : 25%;
    width : 550px;
    text-align: center;
    margin : 0 auto;
}
.Again{
    font-family : "nanumsquare";
    src : url(../components/common/NANUMSQUAREB.TTF);
    font-size : 30px;
    color : white;

    position : absolute;
    top : 50%;
    left : 25%;
    width : 550px;
    text-align: center;
    margin : 0 auto;
}