html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

.container{
    background-image:url('./../img/MainPagebackground.png');
    height : 100vh;
    width : 100vw;

    background-size : cover;
    background-repeat: no-repeat;
    overflow: scroll;

    display : flex;
    flex-direction : column;
    align-content : center;
}    

.centerLogo{
    margin : 20px;
    width : 70%;
    height:auto;
}

.center{
    top : 100px;
    width : 50%;
    margin : 0 auto;
    display: flex;
    flex-direction : column;
    align-content : center;
}

