.container{
    background-image:url('./../img/MainPagebackground.png');
    position:fixed;
    left : 0px;
    top : 0px;
    width: 100%;
    height: 100%;
    background-size : cover;
    background-repeat: no-repeat;
    
}    

.centerLogo{
    
  
    top : 30%;
    width : 40%;
    height:auto;
}

.center{
    text-align: center;
}