html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

.container{
    background-image:url('./../img/MainPagebackground.png');
    height : 100vh;
    width : 100vw;

    background-size : cover;
    background-repeat: no-repeat;
    overflow: scroll;

}    

.centerLogo{
    margin : 20px;
    width : 450px;
    height:auto;
}

.center{
    top : 130px;
    right : 250px;
    width : 500px;
    margin : 0 auto;
    display: flex;
    flex-direction : column;
    align-content : center;
}

