.ModelPageContainer{
    background-image:url('../img/ModelPageBackground.png');
    height : 100vh;
    width : 100vw;

    background-size : cover;
    background-repeat: no-repeat;
    overflow: scroll;
}    
.main{
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
 }
 
 .explane{
     margin : 30px ;
     padding: 40px;
     border-radius: 20px;
     background-color : rgb(0,0,0,0.8);
     box-shadow: 0 7px 15px black;
     
 }
 .modelName{
    font-family: '나눔스퀘어';
    src : url('../components/common/NANUMSQUAREEB.TTF');
    font-weight: bold ;
    font-size : 30px;
    color: cornflowerblue;

    margin-bottom : 30px;
 }
 
 .contents{
     color: white;
     
 }
 
 .button{
     text-align: center;
 }
 