.main{
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
 }
 
 .explane{
     margin : 30px ;
     padding: 20px;
     border-radius: 20px;
     background-color : #1e1e1f;
     box-shadow: 0 7px 15px black;
     z-index : 1;
 }
 .title{
     position : relative;
     color: cornflowerblue;
     z-index : 2;
 }
 
 .contents{
     position : relative;
     color: white;
     z-index : 2;
 }
 
 .button{
     text-align: center;
 }
 