.SummonerDetailPageContainer{
    background-image:url('../img/SummonerDetailPageBackground.png');
    height : 100vh;
    width : 100vw;

    background-size : cover;
    background-repeat: no-repeat;
    overflow: scroll;
} 
.Boxs{
    display : flex;
    flex-direction: column;
    justify-content: flex-start;
    margin : 40px;
}