.FeedbackBox{
    display:flex;
    flex-direction : column;
}

.Negative{
    display:flex;
    flex-direction: row;
    justify-content: space-around;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-top : 3px;
    padding-bottom:3px;
    background-color:#fcacac;
}
.Positive {
    display:flex;
    flex-direction: row;
    justify-content: space-around;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-top : 3px;
    padding-bottom:3px;
    background-color:#8db1fc;
}
.feedback_content{
    color : black;
    font-family: '나눔스퀘어';
    src : url('../common/NANUMSQUAREEB.TTF');
    font-size : 17px;
    font-weight : bolder;
    margin : 10px;
}
.원인_Container{
    display : flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    padding-top : 10px;
    padding-bottom : 10px;
    width : 380px;

    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #d1cfcf;

    color : black;
    font-family: '나눔스퀘어';
    src : url('../common/NANUMSQUAREEB.TTF');
    font-size:17px;
}
