.feedback_content_container{
    display : flex;
    flex-direction : row;
    
}
.원인{
    color : white;
    font-family: '나눔스퀘어';
    src : url('../common/NANUMSQUAREEB.TTF');
    font-size : 18px;
    font-weight:bold;
    padding : 30px;
    margin-top : 80px;
}
.others{
    display : flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right : 30px;
}
.시점기대승률승률변화전략{
    margin-left : 80px;
    display:flex;
    flex-direction: row;
    color : white;
    font-family: '나눔스퀘어';
    src : url('../common/NANUMSQUAREEB.TTF');
    font-size : 17px;
    font-weight:bold;
}
.기대승률{
    margin-left : 65px;
}
.최대승률변화량{
    margin-left : 40px;
}
.전략{
    flex : 3;
    color : white;
    font-family: '나눔스퀘어';
    src : url('../common/NANUMSQUAREEB.TTF');
    font-size : 18px;
    font-weight:bold;
  
}
.combo{
    width : 450px;
    display:flex;
    flex-direction: column;
    color : white;
    font-family: '나눔스퀘어';
    src : url('../common/NANUMSQUAREEB.TTF');
    font-size : 17px;
    font-weight:bold;
}