.hihi{
    color : white;
    background-color:rgb(38,38,38,0.46);
    padding-top : 40px;
    padding-bottom : 20px;

}
.Selected{
    color : white;
    font-family: '나눔스퀘어';
    src : url('../common/NANUMSQUAREEB.TTF');

    background-color:rgb(38,38,38,0.46);

    border : none;
    padding : 15px;
    
    font-size : 20px;
    font-weight : bold;
}
.Selected:active{
    transform: scale(1.1);
}
.UnSelected{
    color :#767171;
    font-family: '나눔스퀘어';
    src : url('../common/NANUMSQUAREEB.TTF');

    background-color : rgb(0,0,0,0.46);

    border : none;
    padding: 15px;

    font-size : 20px;
    font-weight : bold;
}
.UnSelected:active{
    transform: scale(1.1);
}