.StrategyBox{
    display:flex;
    flex-direction : column;
    align-items: center;
    justify-content: center;
    background-color: hsl(209, 61%, 86%);
    border-radius: 20px;
    padding : 10px;
    width : 350px;
    margin-left : 40px;
}
.strategy_Container{
    display:flex;
    flex-direction: row;
    justify-content: space-around;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding-top : 3px;
    padding-bottom:3px;
    background-color:#67A4DB;
}
.strategyInner_Container{
    display : flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    padding-top : 10px;
    padding-bottom : 10px;
    width : 350px;

    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #C5DCF1;

    color : black;
    font-family: '나눔스퀘어';
    src : url('../common/NANUMSQUAREEB.TTF');
    font-size:17px;
}