.form{
  margin-left : 30px;
  width : 400px;
}
.search{
  width : 350px;
  height : 45px;
  padding-left : 4px;
}
.searchButton{
    background-image: url('/src/img/SearchButton.png');
    background-color: transparent;
    background-repeat: no-repeat;
    position : relative;
    top : 15px;
    right : 50px;
    width : 40px;
    height : 40px;
    padding : 0px;
    border : none;
    cursor : pointer;
}
.loading {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 3px solid rgba(255,255,255,.3);
    border-radius: 50%;
    border-top-color: #fff;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
  }
  @keyframes spin {
    to { -webkit-transform: rotate(360deg); }
  }
  @-webkit-keyframes spin {
    to { -webkit-transform: rotate(360deg); }
  } 
@media (max-width: 100px) {}