.form{
  margin-left : 40px;
  width : 400px;
}
.search{
  font-family: '나눔스퀘어';
    src : url('./common/NANUMSQUAREL.TTF');
  width : 330px;
  height : 40px;
  padding-left : 14px;
  border-radius: 5px;
}
.searchButton{
    background-image: url('/src/img/SearchButton.png');
    background-color: transparent;
    background-repeat: no-repeat;
    background-size : contain;
    position : relative;
    top : 10px;
    right : 45px;
    width : 30px;
    height : 30px;
    padding : 0px;
    border : none;
    cursor : pointer;
}
.searchButton:active{
  transform: scale(1.1);
}
.loading {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 3px solid rgba(255,255,255,.3);
    border-radius: 50%;
    border-top-color: #fff;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
  }
  @keyframes spin {
    to { -webkit-transform: rotate(360deg); }
  }
  @-webkit-keyframes spin {
    to { -webkit-transform: rotate(360deg); }
  } 
@media (max-width: 100px) {}