.form{
  margin-left : 40px;
  width : 400px;
}
.search{
  font-family: '나눔스퀘어';
    src : url('./common/NANUMSQUAREL.TTF');
  width : 330px;
  height : 40px;
  padding-left : 14px;
  border-radius: 5px;
}
.searchButton{
    background-image: url('/src/img/SearchButton.png');
    background-color: transparent;
    background-repeat: no-repeat;
    background-size : contain;
    position : relative;
    top : 10px;
    right : 45px;
    width : 30px;
    height : 30px;
    padding : 0px;
    border : none;
    cursor : pointer;
    outline:0;
}
.searchButton:hover{
  transform: scale(1.1);
}
.SearchButtonloading{
  background-image: url('/src/img/loading.gif');
  background-color: transparent;
  background-repeat: no-repeat;
  background-size : contain;
  position : relative;
  top : 12px;
  right : 45px;
  width : 30px;
  height : 30px;
  padding : 0px;
  border : none;
  cursor : pointer;
  outline:0;
}
