.search{
    position : relative;
    left : 1%;
    width : 400px;
    height : 45px;
    border-radius: 5px;
    padding-left : 10px;
    box-shadow: 5px 5px 5px #2B2929;
}
.searchButton{
    background-image: url('/src/img/SearchButton.png');
    background-color: transparent;

    position: relative;
    left : -4%;
    top : 15px;
    width : 40px;
    height : 40px;

    padding : 0px;
    border : none;
    cursor : pointer;
}
.loading {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 3px solid rgba(255,255,255,.3);
    border-radius: 50%;
    border-top-color: #fff;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
  }
  @keyframes spin {
    to { -webkit-transform: rotate(360deg); }
  }
  @-webkit-keyframes spin {
    to { -webkit-transform: rotate(360deg); }
  } 
@media (max-width: 100px) {}